/*
.hero .col-12 p {
color: #ffffff;
}

.hero .col-12 h2 {
color: #ffffff;
}

.hero .col-12 h3 {
color: #ffffff;
}
*/

/* All Black text*/
/*.hero .col-12 h2, .hero .col-12 p, .hero .col-12 h3 {
color: #000000;
}
*/
/*
.hero .col-12 a.cta.secondary {
    color: #ffffff;
    border-color: #ffffff;
}
*/
